
<p>
  <% if signed_in? %>I am user <%= current_user.id %>
  <% else %>I am just a guest
  <% end %>
</p>
<div id="container"
    data-user-id="<%= current_user&.id %>"
>
  <%= render partial: 'game', locals: {game: @game} %>
</div>

<% if @game.players.count == 1  &&  user_signed_in? && ! @game.player?(current_user) %>
  <button id="join" data-user-id="<%= current_user.id %>">Join this Game</button>
<% end %>

<div id="letter" style="display:none;"></div>

<p><%= link_to 'Back', games_path %></p>
