<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>  
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <% if user_signed_in? %>
        <%= link_to "Users", users_path %>
        <%= link_to "Logout #{current_user}", logout_path %>
      <% else %>
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </footer>
  </body>
</html>
